.sign-up{
    background-color: rgb(219, 217, 217);
    border-radius: 1rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    max-width: 45%;   
    
    form{
        padding: 3rem 1rem;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows:repeat(7, 70px) ;
        &:focus{
            border-color:#2563eb ;
            box-shadow: 0 0 0 3px rgba(#2563eb, 0.1);
        }
        .error{
            color: red;
        }
        input{
            margin: 10px;
            padding: 10px;
            border-radius: 5px;

        }

        .btn-primary {
            background: #2563eb;
            border: none;
            border-radius: 1rem -0.25;
            font-weight: 600;
            transition: all 0.2s ease;
        
            &:hover {
              background: darken(#2563eb, 8%);
              transform: translateY(-1px);
            }
          }
    }
}