body {
  font-family: Averta, helvetica, arial, sans-serif;
  letter-spacing: 0.02em;
  line-height: 1.4;
  margin: 0;
}

.app {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
