body {
    font-family: Averta, helvetica, arial, sans-serif;
    letter-spacing: 0.02em;
    line-height: 1.4;
    margin: 0;
  }
  .map-page {
    position: relative;
  }
  
  input {
    padding: 5px;
    width: 200px;
  }
  
  button {
    padding: 5px;
  }
  
  .map-container {
    width: 70%;
    height: 500px;
    margin: 0 auto;
  }
  

  